<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>St Andrews Housing Reviews</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

	<link href="{% static 'housing_reviews/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'subscribe/css/style.css' %}" rel="stylesheet">
</head>
<body>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-93953-11']);
	_gaq.push(['_setDomainName', 'standrews-housing-reviews.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

	<div id="content" class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
