{% extends "subscribe/base.html" %}

{% block content %}
<div id="subscribe-form" class="thanks offset2 span7">
	<h1>St Andrews Housing Reviews</h1>

	<p>Thanks for your interest in the St Andrews Housing Reviews website.</p>
	<p>We sent you a confirmation email. Please click on the link in it to confirm your subscription.<br />If you don't see it in a few minutes, check your spam folder.</p>
	<p>In the meantime, why not share our website with your friends?</p>
	<div id="social-buttons">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_twitter" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_google_plusone_share" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_buffer" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_compact" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_counter addthis_bubble_style" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
		<!-- AddThis Button END -->
	</div>
</div>
{% endblock %}