Accommodation rental in St Andrews is ruled by letting agencies that, more often than not, treat customers in almost insulting ways. Think about it:

    Illegal practises, like requiring upfront payment of the deposit before signing the contract;
    Draconian contracts that put all the burden on the tenant and none on the landlord/agency;
    Demanding 6 or 12 month contracts with no way out for either side;
    Getting paid for doing nothing - they don't even take you to the house when you visit it before renting;
    Among other things...

This needs to change.

By providing a place where you can read and post reviews of the letting agents in St Andrews, we intend to improve the house letting landscape in this lovely little town.

Interested? Sign up below and we'll be in contact soon!