{% extends "subscribe/base.html" %}

{% block content %}

<div id="subscribe-form" class="col-md-6 col-lg-offset-3">
	<h1>St Andrews Housing Reviews</h1>

	<p>Have you had a bad experience with a letting agent and want to warn others about them?</p>
	<p>Or perhaps you know a nice landlord and want to let everyone know it's worth renting from them.</p>
	<p>Maybe the house you were in just a few months ago has something - good or bad - worth mentioning and you want to put it out there for everyone else to know.</p>
	<p>This website will let you do all of this - <em>anonymously</em>!</p>
	<p>House rental in St Andrews needs a shake. There are good landlords and agents but there are many nasty folks around who abuse the fact that there's a lot of demand for housing in town, and they just do what they want - many times even breaking the law. For example, something every single letting agent does, which is <strong>illegal</strong> and almost no one knows: demanding payment of the deposit upfront, before you sign the contract.</p>
	<p>We could go on but you get the point. We think it's time to do something about this. If you agree and want us to let you know when you can start using the website, enter your email address below.</p>
	<form action="" method="post" class="text-center">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-10 col-lg-offset-1">
				<div class="input-group">
					<input type="text" class="input-lg form-control" name="email" placeholder="Your email address..." />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-lg btn-primary">Keep me posted</button>
					</span>
				</div>
			</div>
		</div>
		<p><small>Don't worry, we hate spam as much as you do. We will never give out your email address.</small></p>
	</form>

	<div id="social-buttons">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_twitter" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_google_plusone_share" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_buffer" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_button_compact" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		<a class="addthis_counter addthis_bubble_style" addthis:url="http://www.standrews-housing-reviews.com/"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
		<!-- AddThis Button END -->
	</div>

	<div class="text-center"><p>Psst... already have an account? <a href="{% url 'account_login' %}">Log in here!</a></p></div>
</div>
{% endblock %}
