{% extends "housing_reviews/base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block panel-title %}{% trans "Log in" %}{% endblock %}

{% block content %}

{% if form.errors %}
<p>Incorrect username and password.</p>
{% endif %}

{% if socialaccount.providers  %}
<div class="row">

    <div class="col-md-4" id="login-normal">
        <h3>{% trans 'Log in' %}</h3>
        <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p><button class="primaryAction" type="submit">{% trans "log in" %}</button></p>
        {# <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p> #}
        </form>
    </div>

    <div class="col-md-6" id="login-social">
        <h3>Log in using a third-party</h3>
        <div id="openid_btns">
            <!--a title="Log in using Google" style="background-position: -1px -1px" class="google openid_large_btn"></a>
            <a title="Log in using Facebook" style="background-position: -1px -249px" class="facebook openid_large_btn"></a-->
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        <div><p class="small">More options coming soon</p></div>
    </div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

{% endblock %}
