{% extends "account/base.html" %}
{% load i18n %}

{% block panel-title %}{% trans "Sign up not open yet, sorry..." %}{% endblock %}

{% block content %}
<p>{% trans "We're sorry, but new accounts are currently limited to users who have invitations." %}</p>
<p>If you haven't done so yet, you may <a href="{% url 'subscribe:home' %}">register at our home page</a> and we'll let you know when you can take a peek.</p>
<p>In case you already have an account and you're seeing this, it probably means you used your invitation to code to create an account with a username and password. You should be able to use them to log in.</p>
<p>It won't be long, we promise.</p>
{% endblock %}
