{% extends "housing_reviews/base.html" %}

{% block panel-title %}About{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>This website allows you to <em>anonymously</em> read and write reviews
			about the letting agents operating in St Andrews.</p>

		<p>It was born out of the frustration of our own experience with a very
			nasty agency, something that made us think about the why of this sad
			state of affairs when it comes to housing in St Andrews.</p>

		<p>There are good landlords and agents out there but there are many
			nasty folks around who abuse the fact that there's a lot of demand
			for housing in town. Some of them even break the law by doing things
			the way they do, and since they know the vast majority of their
			tenants are students, who will not raise any legal action against
			them, they just keep going untouched.</p>

		<p>We say it's enough!</p>

		<p>It's time to do something about it, so we created this website where
			the people of St Andrews can voice their opinions.</p>

		<p>Our hope is that by making public which agencies are good and which ones
		should be avoided, people - both tenants and landlords - will avoid headaches.</p>

		<p>We also intend to add a section with some tips for tenants and landlords,
			gathered by speaking with some people who have been in the business
			for some time.</p>

		<p>For now, we suggest you also visit <a href="http://scotland.shelter.org.uk/">
			Shelter Scotland website</a>, and in particular their
			<a href="http://reclaimyourfees.com/">Reclaim Your Fees</a> website,
			which deals with something some agents in town do or used to do:
			demanding "admin fees" from their tenants. Pro tip: Premierlet does
			this and refuse to admit it is illegal. Avoid them at all costs and
			if you have rented from them in the past 5 years, check the
			<a href="http://reclaimyourfees.com/">Reclaim Your Fees</a> website
			because you can easily get your money back <em>with interest</em>.
			We'll even give you a hand with it.</p>

		<p>Good luck!</p>
		{% endblock %}
	</div>
</div>